* {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: #18216D;
}

.container {
  max-width: 1188px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  object-fit: cover;
}

ul, li, a, h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: #18216D;
}

.button {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.circle {
  position: absolute;
  z-index: -1;
  height: 826px;
  width: 826px;
  border-radius: 50%;
  transform: translate(-200px, -200px);
  background: #FF523D;
  opacity: 0.07;
  filter: blur(150px);
}

.particles {
  position: absolute;
  left: -9999999px;
}

.particle {
  position: fixed;
  top: 0;
  left: 0;
  border-radius: 50%;
  display: block;
  width: 100px;
  height: 100px;
  z-index: -2;
  background: #FF523D;
  opacity: 0.5;
  filter: blur(150px);
}

.slider {
  width: 90%;
  margin: 100px auto;
}

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  margin: auto;
}

.slick-prev:before {
  background-image: url(../img/arrow-left.svg);
  background-repeat: no-repeat;
  color: transparent;
  background-size: 100%;
}

.slick-next:before {
  background-image: url(../img/arrow-right.svg);
  background-repeat: no-repeat;
  color: transparent;
  background-size: 100%;
}

.slick-slide {
  transition: all ease-in-out 0.3s;
  opacity: 0.2;
}

.slick-active {
  opacity: 0.5;
}

.slick-current {
  opacity: 1;
}

.header {
  margin-bottom: 50px;
}
.header__icon {
  display: inline-block;
  height: 32px;
}
.header__blocks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1400px;
  padding-top: 25px;
}
.header__menu {
  display: flex;
  max-width: 507px;
  justify-content: space-between;
  flex-basis: 100%;
  margin-right: auto;
  margin-left: 110px;
}
.header__menu-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
}
.header__menu-mobile {
  display: none;
  justify-content: space-between;
  flex-direction: column;
  align-items: end;
  width: 28px;
  height: 12px;
}
.header__menu-line-big {
  display: inline-block;
  width: 28px;
  height: 3px;
  background-color: #273551;
}
.header__menu-line-small {
  display: inline-block;
  width: 20px;
  height: 3px;
  background-color: #273551;
}
.header__login {
  display: flex;
  justify-content: space-between;
  max-width: 240px;
  align-items: center;
  flex-basis: 100%;
}
.header__sign-in {
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
}
.header__download {
  background-color: #18216D;
  width: 136px;
  height: 52px;
  border-radius: 6px;
}
.header__download span {
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #fff;
}

.start {
  margin-bottom: 100px;
}
.start__blocks {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.start__block:nth-child(1)::after {
  content: "";
  background-image: url(../img/start-vector.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
.start__title {
  font-weight: 600;
  font-size: 48px;
  line-height: 60px;
  margin-bottom: 16px;
}
.start__subtitle {
  font-weight: normal;
  font-size: 17px;
  line-height: 28px;
  max-width: 480px;
}
.start__button {
  width: 180px;
  height: 66px;
  background: #00ECD0;
  border-radius: 6px;
  margin-top: 34px;
}
.start__button span {
  font-weight: 500;
  font-size: 19px;
  line-height: 23px;
  color: #fff;
}
.start__image {
  width: 607px;
}
.start__image-adaptive {
  display: none;
}

.rating {
  margin-bottom: 100px;
}
.rating__blocks {
  display: flex;
  flex-direction: column;
}
.rating__block {
  display: flex;
  justify-content: space-between;
}
.rating__block-status {
  max-width: 280px;
  flex-basis: 100%;
}
.rating__image {
  width: 105px;
}
.rating__title {
  max-width: 505px;
  font-weight: 600;
  font-size: 36px;
  line-height: 50px;
}
.rating-likes__title {
  font-weight: bold;
  font-size: 60px;
  line-height: 70px;
  letter-spacing: -1px;
}
.rating-likes__subtitle {
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
}
.rating-stars__title {
  font-weight: bold;
  font-size: 60px;
  line-height: 70px;
  letter-spacing: -1px;
}
.rating-stars__subtitle {
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
}

.features {
  margin-bottom: 56px;
}
.features__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1120px;
}
.features__blocks {
  display: flex;
  justify-content: space-between;
  width: 99%;
  max-width: 1120px;
}
.features__block {
  max-width: 323px;
}
.features__block-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 8px;
}
.features__block-subtitle {
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  opacity: 0.6;
  margin-bottom: 36px;
}
.features__block-button {
  font-weight: 500;
  font-size: 20px;
  line-height: 16px;
}
.features__title {
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: -1px;
  margin-bottom: 12px;
}
.features__subtitle {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  max-width: 542px;
  text-align: center;
  margin-bottom: 48px;
}
.features__image {
  margin-bottom: 28px;
}

.integrate {
  background-color: #f1f6fd;
  padding-top: 78px;
  padding-bottom: 78px;
  margin-bottom: 130px;
}
.integrate__blocks {
  display: flex;
  justify-content: space-between;
  max-width: 1267px;
  align-items: center;
}
.integrate__block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 487px;
}
.integrate__title {
  font-weight: 600;
  font-size: 36px;
  line-height: 48px;
  margin-bottom: 15px;
}
.integrate__subtitle {
  display: inline-block;
  margin-bottom: 40px;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  opacity: 0.8;
}
.integrate__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 52px;
  background-color: #005fec;
  border-radius: 6px;
}
.integrate__button span {
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  color: #ffffff;
}
.integrate__image {
  max-width: 690px;
  width: 100%;
}

.power {
  margin-bottom: 160px;
}
.power__blocks {
  display: flex;
  justify-content: space-between;
  max-width: 1163px;
}
.power__image {
  max-width: 471px;
}
.power__block {
  max-width: 510px;
}
.power__title {
  font-weight: 600;
  font-size: 36px;
  line-height: 48px;
  padding-bottom: 16px;
}
.power__subtitle {
  display: inline-block;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  padding-bottom: 30px;
}
.power__list {
  display: flex;
  flex-direction: column;
}
.power__item {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}
.power__item img {
  margin-right: 16px;
}
.power__item span {
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
}
.power__button {
  width: 164px;
  height: 54px;
  background-color: #005fec;
  border-radius: 6px;
}
.power__button span {
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #fff;
}

:root {
  --primary-color: $default;
  --secondary-color: #fff;
}

.container-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flex {
  background-color: rgba(230, 238, 249, 0.4);
  padding-top: 40px;
  padding-bottom: 40px;
}
.flex__title {
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  letter-spacing: -1px;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.flex__subtitle {
  display: inline-block;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  max-width: 542px;
  text-align: center;
  margin-bottom: 40px;
}
.flex__blocks {
  max-width: 1155px;
  display: flex;
  margin-top: 75px;
}
.flex__block {
  max-width: 355px;
  width: 100%;
  border: 1px solid #cacdd1;
  box-sizing: border-box;
  border-radius: 10px;
  padding-top: 22px;
  padding-bottom: 60px;
  margin-right: 45px;
}
.flex__block:nth-child(3) {
  margin-right: 0;
}
.flex__type {
  font-weight: 600;
  font-size: 24px;
  line-height: 48px;
  padding-right: 65px;
  padding-left: 41px;
}
.flex__price {
  display: inline-block;
  font-weight: 600;
  font-size: 36px;
  line-height: 48px;
  padding-bottom: 37px;
  padding-left: 41px;
}
.flex__checks {
  display: inline-block;
  margin-right: 65px;
  margin-left: 41px;
}
.flex__item {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
}
.flex__item img {
  margin-right: 12px;
}
.flex__block-button {
  margin-right: 65px;
  margin-left: 41px;
  width: 181px;
  height: 52px;
  background-color: #005fec;
  border-radius: 6px;
  color: #fff;
}
.flex__block-button-disable {
  background-color: #dbe7fb;
  color: #18216D;
  border-radius: 6px;
}
.flex__block-button span {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}
.flex__line {
  display: flex;
  border: 1px solid #cacdd1;
  width: 100%;
  margin-bottom: 38px;
}

.container-tabs {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tabs {
  display: flex;
  position: relative;
  background-color: #d8e6fa;
  box-shadow: 0 0 1px 0 rgba(24, 94, 224, 0.15), 0 6px 12px 0 rgba(24, 94, 224, 0.15);
  padding: 0.75rem;
  border-radius: 6px;
}
.tabs * {
  z-index: 2;
}

input[type=radio] {
  display: none;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 54px;
  width: 200px;
  font-size: 1.25rem;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  transition: color 0.15s ease-in;
}

.notification {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  margin-left: 0.75rem;
  border-radius: 50%;
  background-color: var(--secondary-color);
  transition: 0.15s ease-in;
}

input[type=radio]:checked + label {
  color: var(--primary-color);
}
input[type=radio]:checked + label > input[type=radio]:checked + label {
  background-color: var(--primary-color);
  color: #fff;
}

input[id=radio-1]:checked ~ .glider {
  transform: translateX(0);
}

input[id=radio-2]:checked ~ .glider {
  transform: translateX(100%);
}

input[id=radio-3]:checked ~ .glider {
  transform: translateX(200%);
}

.glider {
  position: absolute;
  display: flex;
  height: 54px;
  width: 200px;
  background-color: var(--secondary-color);
  z-index: 1;
  border-radius: 6px;
  transition: 0.25s ease-out;
}

@media (min-width: 992px) {
  .header__icon:hover {
    transform: rotate(-3deg);
    transition: 0.5s;
  }
  .header__menu-link:hover {
    color: #005fec;
    transition: 0.3s;
  }
  .header__sign-in:hover {
    color: #005fec;
    transition: 0.3s;
  }
  .header__download:hover {
    background-color: #005fec;
    transform: rotate(-3deg);
    transition: 0.3s;
  }

  .start__button:hover {
    background-color: #005fec;
    transform: rotate(-3deg);
    transition: 0.3s;
  }

  .features__block-button:hover {
    color: #005fec;
    transition: 0.3s;
  }

  .integrate__button:hover {
    background-color: #18216D;
    transform: rotate(-3deg);
    transition: 0.3s;
  }

  .power__button:hover {
    background-color: #18216D;
    transform: rotate(-3deg);
    transition: 0.5s;
  }

  .flex__block:hover, .flex-button:hover {
    background-color: #dbe7fb;
    color: #18216D;
    transition: 0.5s;
  }
  .flex__block:hover, .flex-button:hover {
    background-color: #005fec;
    color: #fff;
    transition: 0.5s;
  }
}
@media (max-width: 1500px) {
  .container {
    max-width: 1200px;
  }
}
@media (max-width: 1270px) {
  .container {
    max-width: 992px;
  }

  .header__menu {
    max-width: 444px;
  }
  .header__login {
    max-width: 222px;
  }
}
@media (max-width: 1070px) {
  .container {
    max-width: 840px;
  }

  .header__menu {
    display: none;
  }
  .header__menu-mobile {
    display: flex;
  }
  .header__login {
    display: none;
  }

  .integrate__blocks {
    flex-direction: column;
  }
  .integrate__block {
    text-align: center;
    align-items: center;
  }
  .integrate__block:nth-child(1) {
    margin-bottom: 40px;
  }

  .power {
    margin-bottom: 90px;
  }
  .power__blocks {
    flex-wrap: wrap-reverse;
    justify-content: center;
    text-align: center;
  }
  .power__item {
    margin: auto;
    margin-bottom: 25px;
  }
  .power__image {
    transform: translateX(-35px);
  }
  .power__block {
    margin-bottom: 30px;
  }
}
@media (max-width: 900px) {
  .container {
    max-width: 768px;
  }

  .start__image {
    width: 500px;
  }

  .rating__title {
    max-width: 420px;
    font-size: 30px;
  }

  .features {
    margin-bottom: 35px;
  }
  .features__blocks {
    flex-direction: column;
    align-items: center;
  }
  .features__block {
    margin-bottom: 30px;
    align-items: center;
    text-align: center;
  }
  .features__block-title {
    font-size: 20px;
  }
  .features__block-subtitle {
    font-size: 14px;
    line-height: 24px;
  }
  .features__block-button {
    font-size: 20px;
  }
}
@media (max-width: 800px) {
  .container {
    max-width: 667px;
  }

  .start__image {
    width: 350px;
  }
}
@media (max-width: 700px) {
  .container {
    max-width: 567px;
  }

  .circle {
    width: 100%;
    max-width: 100%;
  }

  .start__blocks {
    flex-direction: column;
  }
  .start__block {
    text-align: center;
  }
  .start__block:nth-child(1) {
    margin-bottom: 70px;
  }
  .start__image {
    width: 100%;
    max-width: 100%;
  }

  .rating__block {
    text-align: center;
    margin: 0 auto;
    flex-direction: column;
  }
  .rating__block-rating {
    margin-bottom: 60px;
  }
  .rating__block-status {
    flex-direction: row;
  }
  .rating-likes {
    margin-right: 30px;
  }

  .tabs {
    transform: scale(0.6);
  }
}
@media (max-width: 600px) {
  .container {
    max-width: 480px;
  }
}
@media (max-width: 500px) {
  .container {
    max-width: 425px;
  }

  .features__title {
    font-size: 30px;
  }
}
@media (max-width: 450px) {
  .container {
    max-width: 320px;
  }

  .start__title {
    font-size: 39px;
  }

  .integrate__title {
    font-size: 29px;
    line-height: 34px;
  }

  .power__title {
    font-size: 32px;
  }
  .power__subtitle {
    font-size: 15px;
  }
  .power__item span {
    font-size: 15px;
  }
  .power__image {
    transform: translate(-24px);
  }
}
@media (max-width: 360px) {
  .container {
    max-width: 87%;
  }
}
@media (max-width: 350px) {
  .start__image {
    display: none;
  }
  .start__image-adaptive {
    display: inline-block;
  }

  .features__title {
    font-size: 24px;
  }
  .features__subtitle {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.02em;
    opacity: 0.5;
  }
}
@media (max-width: 305px) {
  .power__item span {
    font-size: 13px;
  }
}